<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="Stack" fileName="E:\Bharat Sir\SpringTasks\Stack_Task\src\Stack_Task.log">
            <PatternLayout>
                <Pattern>
                    %c %d -  [%M] -(%p) %m %n
                </Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Stack" />
        </Root>
    </Loggers>
</Configuration>